<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    @* Current Workout Modal *@
    <div id="currentWorkoutModal" class="modal hidden">
        <div class ="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2>Current Workout</h2>
                <button id="closeCurrentWorkoutBtn">X</button>            
            </div>

            <!-- List of the user picked exercises -->
            <div id="exerciseWorkoutList">
                
                <!-- JS code for dynamically injecting the exercises and their respective reps, sets, etc. will go here -->

            </div>

            @* Footer Buttons *@
            <div class="modal-buttons">
                <button id="addMoreExercisesBtn">+ Add More Exercises</button>
                <button id="finishWorkoutBtn">Finish Workout</button>
            </div>
        </div>
    </div>
    <script src="site.js"></script>
</body>
</html>