@* Partial View for ERND's Latest Updates & Bug Fixes *@

@* Updates & Bug Fixes List *@
<div id="updatesModal" class="updates-modal-container">
    <div class="updates-modal-header">
        <button id="cancelUpdatesBtn" class="btn-close-updates">Close Updates List</button>
    </div>

    <div id="updatesList" class="updates-list">

        <h2 class="mt-4">🛠 Latest Updates & Bug Fixes </h2>
        <ul>

            <li>Updated complete workout saving newest to oldest as opposed to oldest to newest</li>
            <li>Stability & UI Tweaks</li>

        </ul>
        
        <h2 class="mt-4">🐞 Known Bugs / Issues </h2>
        <ul>
            <li>Reset Password Emails Not Being Sent <STRONG>PLEASE WRITE DOWN YOUR PASSWORD FOR THE TIME BEING... THIS IS THE MAIN BUG RIGHT NOW</STRONG></li>
            <li>Clicking username (email) Gives an Unhandled Exception Internal Server Error</li>
        </ul>

        <p class="mt-4">
            If you spot any bugs or have suggestions, please reach out via email, LinkedIn, or Instagram. Your feedback helps shape ERND into the best version of itself.
        </p>

        <h2>✅ Current Features </h2>
        <ul>
            <li>Categorzied List of Exercises</li>
            <li>Detailed Set tracking accessibility (reps and weight)</li>
            <li>Automatic Workout Saving on Completion</li>
            <li>View Past Workouts With Full Breakdown</li>
            <li>Ability to Save Workouts Without an Account (Workout History Will Be Lost If Browser History is Deleted --> Highly Recommend Registering an Account</li>
        </ul>

        <h2 class="mt-4">🔜 Coming Soon </h2>
        <ul>
            <li>Add Custom Exercises to Exercise Selection Modal</li>
            <li>Forgot Password Emails</li>
            <li>Search For Specific Exercises in Exercise Selection Modal</li>
            <li>User Profile Management (Update Email, Preferred Account Naming, Password, Delete Account)</li>
            <li>Add Notes to Current or Saved Workouts</li>
            <li>Pause and Revisit Incomplete Workouts</li>
        </ul>

    </div>

    <div class="updates-modal-footer">
        <p><em>Last updated: August 9, 2025</em></p>
    </div>
</div>
