<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

@* Partial View for ERND's Latest How To Install Page *@
<body>
    @* How to Install *@
    <div id="howToModal-android" class="howTo-modal-container">
        <div class="howTo-modal-header">
            <button id="cancelHowToBtn-android" class="btn-close-howTo">Close How To Install Instructions</button>
        </div>

        <div id="howToList-android" class="how-to-list">

            <h2 class="mt-4">🛠 How To Install ERND </h2>
            <ol>
                <li>
                    <p>Go to the ERND site and click the vertical ellipsis (3 dots) button.</p>
                    <div class="install-image-wrapper">
                        <img src="~/images/how-to-install-images/android-step-one.png" alt="Step 1 - How To Install ERND">
                    </div>
                </li>
                <li>
                    <p>Scroll until you see "Add to Home Screen" and click "Add to Home Screen".</p>
                    <div class="install-image-wrapper">
                        <img src="~/images/how-to-install-images/android-step-two.png" alt="Step 2 - How To Install ERND">
                    </div>
                </li>
                <li>
                    <p>Name the app whatever you'd like (Recommended: ERND).</p>
                    <p>Click "Add" once finished.</p>
                    <div class="install-image-wrapper">
                        <img src="~/images/how-to-install-images/android-step-three.png" alt="Step 3 - How To Install ERND">
                    </div>
                </li>
                <li>
                    <p>Click "ADD TO HOME SCREEN" to install ERND to your device.</p>
                    <div class="install-image-wrapper">
                        <img src="~/images/how-to-install-images/android-step-four.png" alt="Step 1 - How To Install ERND">
                    </div>
                </li>
                <li>
                    <p>You've <strong>SUCCESSFULLY</strong> installed ERND!</p>
                    <p>If you'd like, you may move the app to your preferred spot on your home screen.</p>
                    <div class="install-image-wrapper">
                        <img src="~/images/how-to-install-images/android-step-five.png" alt="Step 1 - How To Install ERND">
                    </div>
                </li>

            </ol>
            
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>