@* Partial View for ERND's Latest How To Install Page *@
@* How to Install *@
<div id="howToModal-ios" class="howTo-modal-container">
    <div class="howTo-modal-header">
        <button id="cancelHowToBtn-ios" class="btn-close-howTo">Close How To Install Instructions</button>
    </div>

    <div id="howToList-ios" class="how-to-list">

        <h2 class="mt-4">🛠 How To Install ERND </h2>
        <ol>
            <li>
                <p>Go to the ERND site and click share button.</p>
                <div class="install-image-wrapper">
                    <img src="https://nicholasdkmanning.github.io/ernd-assets/how-to-install-images/ios-step-one.png" alt="Step 1 - How To Install ERND">
                </div>
            </li>
            <li>
                <p>Scroll until you see "Add to Home Screen" and click "Add to Home Screen".</p>
                <div class="install-image-wrapper">
                    <img src="https://nicholasdkmanning.github.io/ernd-assets/how-to-install-images/ios-step-two.png" alt="Step 2 - How To Install ERND">
                </div>
            </li>
            <li>
                <p>Name the app whatever you'd like (Recommended: ERND).</p>
                <p>The site should already be filled out.</p>
                <div class="install-image-wrapper">
                    <img src="https://nicholasdkmanning.github.io/ernd-assets/how-to-install-images/ios-step-three.png" alt="Step 3 - How To Install ERND">
                </div>
            </li>
            <li>
                <p>Click "Add" at the top right to install to your device.</p>
                <div class="install-image-wrapper">
                    <img src="https://nicholasdkmanning.github.io/ernd-assets/how-to-install-images/ios-step-four.png" alt="Step 1 - How To Install ERND">
                </div>
            </li>
            <li>
                <p>You've <strong>SUCCESSFULLY</strong> installed ERND!</p>
                <p>If you'd like, you may move the app to your preferred spot on your home screen.</p>
                <div class="install-image-wrapper">
                    <img src="https://nicholasdkmanning.github.io/ernd-assets/how-to-install-images/ios-step-five.png" alt="Step 1 - How To Install ERND">
                </div>
            </li>

        </ol>
        
    </div>
</div>
