@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About ERND.</h1>
    <p><em>Every Repetition Neutralizes Doubt</em></p>

    <div class="social" style="margin-bottom: 1rem;">
        <a href="https://www.linkedin.com/in/nicholasmanning35/" target="_blank" style="margin: 0 10px;"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://nicholasdkmanning.github.io/Nick-Manning-Portfolio/" target="_blank" style="margin: 0 10px;"><i class="fa-solid fa-user-tie"></i></a>
        <a href="https://www.instagram.com/nicholas.d.k.manning/" target="_blank" style="margin: 0 10px;"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p>
        ERND is a passion project built by me... Nicholas Manning! I've used many workout apps that for the most part, did what they were supposed to. my favorite workout tracker app
        had almost everything I'd want as far features go to log my weight lifting journey. However, the main thing I didn't like was because the app was a native mobile
        app, I couldn't easily bring up my workouts on my computer at home for review.
    </p>
    <p>
        So, as any developer would, I thought let's take something that's already amazing and make it just a little
        better. I created this app as a website so that no matter what device you have, you can see your logs and actively track your workouts. Now you're probably wondering, "But what if I
        don't have internet connection while trying to use the app?" Valid question. As is, yes you need internet. In the near future, ERND will transition into what's called a Progressive
        Web Application. 
    </p>
    <p>
        Essentially, it'll feel like your normal mobile apps, but it'll actually just be a website that will be accessbile with or without internet. Any workouts you save,
        will still be logged and accessible <strong>as long as you don't delete your browser cache before you connect to the internet again.</strong> As soon as you regain internet connection, everything that was
        saved offline, will now be able to be seen online. 
    </p>
    <p>
        Long Story Short, ERND is a workout tracker web application that masks itself as a normal mobile app. This creates way less hassle
        having to download the app, and update it manually whenever I add something new. Just visit the site, add it to your homescreen, and get to tracking!
    </p>
    <p>
        The main goal of ERND is to make tracking simple and easy. 
        It has the classic feel of pen-and-paper note-taking but with the efficiency of modern technology.
    </p>
    <p>
        The home page will be where you can find all the latest updates, what I'm currently working on, and what's to come in the future, so check back there regularly to see
        what's coming.
    </p>
    <p>
        In its current state, ERND is in its MVP phase or Minimum Viable Product phase meaning, this is the state with the least amount of features and definitely has
        a few bugs here and there. If you come across anything weird or broken, please don't hesitate to reach out to me via email, LinkedIn, or Instagram.
    </p>
    <p>
        Additionally, if you ever think of any features that you would want in the app, PLEASE don't hesitate to make suggestions.
    </p> 
</div>