@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome To ERND.</strong></h1>
    <p>Every Repetition Neutralizes Doubt</a>.</p>
    <p>Please see the <strong>ABOUT</strong> page.</p>
</div>
