@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Title *@
<div class="text-center">
    <h1 class="display-4"><strong>Welcome To ERND.</strong></h1>
    <p>Every Repetition Neutralizes Doubt</p>
</div>

@* Social Icons *@
<div class="social">
    <a href="https://www.linkedin.com/in/nicholasmanning35/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/nicholas.d.k.manning/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://nicholasdkmanning.github.io/Nick-Manning-Portfolio/" target="_blank"><i class="fa-solid fa-user-tie"></i></a>
</div>

@* Please read line *@
<div class="text-center">
    <p>Please Click The Buttons Below & Read The Information On How To Use The ERND App & Other Important Information.</p>
</div>

<hr />

@* Button for updates *@
<button class="btn btn-light w-100 text-start border rounded p-3 mb-2" id="openUpdatesList">
    Click Here To See The Latest Updates & Bug Fixes
</button>

@await Html.PartialAsync("_ErndUpdatesModal")

@section Scripts {
    <script src="~/js/shared.js"></script>
    <script src="~/js/index.js"></script>
}