@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index-container py-4">
    <div class = text-center mb-4>
        <h1 class="display-4 fw-bold">Welcome To ERND.</h1>
        <p class="lead">Every Repetition Neutralizes Doubt</p>
    </div>

    <div class="social mb-4">
        <div class="social-item">
            <a href="https://www.linkedin.com/in/nicholasmanning35/" target="_blank">
                <span class="material-symbols-outlined">person</span>
                <div class="social-label">LinkedIn</div>
            </a>
        </div>
        <div class="social-item">
            <a href="https://nicholasdkmanning.github.io/Nick-Manning-Portfolio/" target="_blank">
                <span class="material-symbols-outlined">business_center</span>
                <div class="social-label">Portfolio</div>
            </a>
        </div>
        <div class="social-item">
            <a href="https://www.instagram.com/nicholas.d.k.manning/" target="_blank">
                <span class="material-symbols-outlined">photo_camera</span>
                <div class="social-label">Instagram</div>
            </a>
        </div>
    </div>


    <div class="text-center mb-3">
        <p>Please click the buttons below for Installation & Updates info:</p>
    </div>

    <div class="d-flex flex-wrap gap-3 justify-content-center mb-4">
        @* Installation Buttons *@

        @* Button for how to install ERND --> IOS *@
        <button class="index-btn btn-light text-start border rounded p-3 flex-grow-1" id="openHowToList-ios" style="min-width: 250px;">
            📱 How To Install on IOS
        </button>
        
        @* Button for how to install ERND --> ANDROID *@
        <button class="index-btn btn-light text-start border rounded p-3 flex-grow-1" id="openHowToList-android" style="minwidth: 250px;">
            🤖 How To Install on Android
        </button>
    </div>

    <div class="mb-4">
        <button class="index-btn btn-outline-primary w-100 p-3" id="openUpdatesList">
            🛠 See the Latest Updates & Bug Fixes
        </button>
    </div>
</div>

@await Html.PartialAsync("_ErndUpdatesModal")

@await Html.PartialAsync("_HowToInstallModal-Ios")

@await Html.PartialAsync("_HowToInstallModal-Android")

@section Scripts {
    <script src="~/js/shared.js"></script>
    <script src="~/js/index.js"></script>
}