@page
@model ERNDAPP.Pages.Settings.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

@* Account Settings Button *@
<a asp-page="./Settings/AccountSettings" class="btn btn-light w-100 text-start border rounded p-3 mb-2">
    Account Settings
</a>
