@page
@model StartWorkoutModel
@{
    ViewData["Title"] = "StartWorkout";
}

<div class="text-center">
    <h1 class="display-4">Start Workout</h1>
</div>

@* Quick Start Workout Button Button *@
<button class="btn btn-light w-100 text-start border rounded p-3 mb-2" id="openExerciseList">
    Start Your Workout
</button>

@* Button to go to View Workout History Page *@
<a class="btn btn-light w-100 text-start border rounded p-3 mb-2" asp-area="" asp-page="/WorkoutHistory">
View Workout History
</a>

@await Html.PartialAsync("_ExerciseModal")

@* Current Workout Modal *@
@await Html.PartialAsync("_CurrentWorkoutModal")