@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is ERND.</h1>
    <p><strong>E</strong>arned <strong>R</strong>esults, <strong>N</strong>o <strong>D</strong>eception.</p>
    <p>
        Start Your Workout Now.
    </p>
</div>
