@page

<div class="text-center">
<h1>

    Start Your Workout Now.

    </h1>
</div>

<div class="text-center">
    <button id="createWorkoutButton">
                
                Create A Workout

    </button>
</div>

@* Full Screen Popup card overlay *@
<div id="popup-card">
    @* Popup card *@
    <div class="popup-card" id="exerciseSelectionMenu">
        @* popup card close button *@
        <button id="popupCardCloseButton" class="popupcard-close-button">X</button>

        <div class="exercise-item">
            <img src="~/exerciseImages/BarbellBenchPress.webp" alt="Barbell Bench Press" class="exercise-image">
            <div class="exercise-text">
                <h3 class="exercise-name">Barbell Bench Press</h3>
                <p class="exercise-target">Chest</p>
            </div>
        </div>

        <div class="exercise-item">
            <img src="~/exerciseImages/BarbellSquat.webp" alt="Barbell Squat" class="exercise-image">
            <div class="exercise-text">
                <h3 class="exercise-name">Barbell Squat</h3>
                <p class="exercise-target">Legs</p>
            </div>
        </div>

        <div class="exercise-item">
            <img src="~/exerciseImages/BarbellDeadLift.webp" alt="Barbell Deadlift" class="exercise-image">
            <div class="exercise-text">
                <h3 class="exercise-name">Barbell Deadlift</h3>
                <p class="exercise-target">Back & Legs</p>
            </div>
        </div>

        <div class="exercise-item">
            <img src="~/exerciseImages/BarbellBenchPress.webp" alt="Barbell Bench Press" class="exercise-image">
            <div class="exercise-text">
                <h3 class="exercise-name">Barbell Bench Press</h3>
                <p class="exercise-target">Chest</p>
            </div>
        </div>
    </div>    
</div>

<script>
    const button = document.getElementById("createWorkoutButton");
    const closeButton = document.getElementById("popupCardCloseButton");
    const popupCard = document.getElementById("popup-card");

    button.addEventListener("click", function () {
        popupCard.classList.toggle("visible");
    });

    closeButton.addEventListener("click", function () {
        popupCard.classList.remove("visible");
    });
</script>